footer {
  text-align: center;
  padding: 3px;
  background-color: white;
  color: black;
}
.jh {
  position: absolute;
  left: 100px;
  top: 150px;
}
.logo {
  font-size: 50px;
}
.r {
  text-align: center;
  padding: 3px;
  background-color: rgb(21, 217, 236);
  color: white;
  height: 50px;
}

.a {
  text-orientation: initial;
  background-position: center;
  height: 600px;
  text-align: center;
  background: url("https://images.pexels.com/photos/1001851/pexels-photo-1001851.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}
.dd {
  text-orientation: initial;
  background-position: center;
  height: 700px;
  text-align: center;
  background: url("https://cdn.pixabay.com/photo/2021/01/15/17/01/green-5919790__340.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}
.i {
  text-orientation: initial;
  background-position: center;
  height: 600px;
  text-align: center;
  background: url("https://cdn.pixabay.com/photo/2020/04/20/20/47/drip-5069808__340.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}
.c {
  text-orientation: initial;
  background-position: center;
  height: 670px;
  text-align: center;
  background: url("https://cdn.pixabay.com/photo/2017/07/14/07/39/matrix-2502935__340.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

.d {
  float: left;

  height: 820px;
  text-align: left;
  background: url("https://images.pexels.com/photos/7578201/pexels-photo-7578201.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

.twitter-tweet {
  text-align: center;
}
.b {
  text-orientation: initial;
  background-position: center;
  height: 670px;
  text-align: center;
  background: url("https://images.pexels.com/photos/7635156/pexels-photo-7635156.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}
.g {
  text-orientation: initial;
  background-position: center;
  height: 600px;
  text-align: center;
  background: url("https://cdn.pixabay.com/photo/2018/04/03/04/36/hand-3285912__340.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}
.f {
  text-orientation: initial;
  background-position: center;
  height: 600px;
  text-align: center;
  background: url("https://images.pexels.com/photos/7577949/pexels-photo-7577949.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}
.e {
  text-orientation: initial;
  background-position: center;
  height: 600px;
  text-align: center;
  background: url("https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}
.j {
  text-orientation: initial;
  background-position: center;
  height: 600px;
  text-align: center;
  background: url("https://cdn.pixabay.com/photo/2021/04/25/12/23/flowers-6206279__340.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  padding-top: 30px;
  color: white;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(165, 213, 184);
  color: black;
}

.header a.active {
  background-color: rgb(21, 217, 236);
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
body {
  padding-top: 30px;
  background-image: url();
  background-repeat: no-repeat, repeat;
  flex-direction: column;
  flex: auto;
}
main {
  flex-direction: row;
  flex: auto;
}
article {
  flex: 2;
  overflow-y: auto;
  float: left;
  text-align: left;
  padding-right: 300px;
}

.navbar {
  text-align: center;
  list-style-type: none;
  margin: 40;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  color: white;
}

aside {
  height: 330px;
  width: 600px;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  flex: 1;
  overflow-y: auto;
  background-color: lightgray;
}
